<a href="https://colab.research.google.com/github/TABEYWICKRAMA/IRWA/blob/main/Lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 1). Concatenate two lists index-wise
# list1 = ["M", "na", "i", "Ke"] 
# list2 = ["y", "me", "s", "lly"]
# Answer = ['My', 'name', 'is', 'Kelly']

list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]

list3 = zip(list1,list2)
print(list3)                      #this will give an value in order to 
list4 = tuple(zip(list1,list2))   #get correct index wise matching we have to use tuple keyword.
print(list4)                      #but if we need to get output we have to use for loop.

list5 = [i+j for i,j in zip(list1,list2)]
print(list5)

<zip object at 0x7fcc4144ecd0>
(('M', 'y'), ('na', 'me'), ('i', 's'), ('Ke', 'lly'))
['My', 'name', 'is', 'Kelly']

In [ ]:
# 2). Given a Python list. Turn every item of a list into its square
# List1 = [1, 2, 3, 4, 5, 6, 7]
# Answer = [1, 4, 9, 16, 25, 36, 49]

List1 = [1, 2, 3, 4, 5, 6, 7]

answer = [n*n for n in List1]

print(answer)

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# 3). Given a two Python list. Iterate both lists simultaneously such that list1 should display item in 
# original order and list2 in reverse order
# list1 = [10, 20, 30, 40]
# list2 = [100, 200, 300, 400]
# Answer = 10 400
# 20 300
# 30 200
# 40 100

list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

#list3 = list2.reverse()
#print(list3)            #this will not save reverse list. 
                        #because reversing is being happend to actual list. 
                        #that is "list2"

x = list2.reverse()         # 1 method to reverse list
print(list2)  

list3 = [i+j for i,j in zip(list1,list2)]   #this will add two lists
print(list3)                                #reason we use for loop in here.

#correct answer
list2 = list2[::-1]
print(list2)    #reverse the list

for x,y in zip(list1,list2):
    print(x,y)

[400, 300, 200, 100]
[410, 320, 230, 140]
[100, 200, 300, 400]
10 100
20 200
30 300
40 400

In [ ]:
# 4). Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look 
# like the following list
# list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
# Sub List to be added = ["h", "i", "j"]
# Answer = ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]


#extending exist list
list1[2][1][2].extend(sub_list)
print(list1)

#adding as a separate list
list1[2][1][2].append(sub_list)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

In [ ]:
# 5). Given a Python list, remove all occurrence of 20 from the list
# list1 = [5, 20, 15, 20, 25, 50, 20]
# Answer = [5, 15, 25, 50]

In [ ]:
# 6). Below are the two lists convert it into the dictionary
# keys = ['Ten', 'Twenty', 'Thirty']
# values = [10, 20, 30]
# Answer = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# 01 method----------------------------------------------
answer = dict(zip(keys, values))

print(answer)

# 02 method----------------------------------------------
# print("Original key list is : " + str(keys))
# print("Original value list is : " + str(values))

# res = {}
# for key in keys:
#     for value in values:
#         res[key] = value
#         values.remove(value)
#         break
# print ("Resultant dictionary is : " +str(res))

Original key list is : ['Ten', 'Twenty', 'Thirty']
Original value list is : [10, 20, 30]
Resultant dictionary is : {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
# 7). Merge following two Python dictionaries into one
# dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
# dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
# Answer = {'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}


dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# 01 method--------------------------------------------------
dict3 = {**dict1, **dict2}
print(dict3)

# 02 method--------------------------------------------------
def Merge(dict1, dict2):           
    return(dict2.update(dict1))     #copy all the details in dictionary 1 to dictionary 2

print(Merge(dict1, dict2))    #this will print nothing

print(dict2)          #this will print merging dictionary
                  
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
None
{'Thirty': 30, 'Fourty': 40, 'Fifty': 50, 'Ten': 10, 'Twenty': 20}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

***#If we change particular key in a dictionary***

In [ ]:
# 8). Rename key city to location in the following dictionary
# sampleDict = {
#  "name": "Kelly",
#  "age":25,
#  "salary": 8000,
#  "city": "New york"
# }
# Answer = {
#  "name": "Kelly",
#  "age":25,
#  "salary": 8000,
#  "location": "New york"
# }

sampleDict = {
 "name": "Kelly",
 "age":25,
 "salary": 8000,
 "city": "New york"
}



print(sampleDict)
sampleDict['location'] = sampleDict['city']
sampleDict['location'] = sampleDict.pop('city')
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york'}
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [ ]:
# 9). Delete set of keys from Python Dictionary
#
# sampleDict = {
#     "name": "Kelly",
#     "age": 25,
#     "salary": 8000,
#     "city": "New york"
#
# }
# keysToRemove = ["name", "salary"]
# Answer = {'city': 'New york', 'age': 25}

sampleDict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"

}

# sampleDict.pop("name","salary")   #this will delete only "name"
# print(sampleDict)

#-----------------------------------method 01--------------------------------
sampleDict.pop("name")
sampleDict.pop("salary")
print(sampleDict)

#-----------------------------------method 02--------------------------------
keysToRemove = ["name", "salary"]

for i in keysToRemove:
    del sampleDict[i]

print(sampleDict)

{'age': 25, 'city': 'New york'}

In [ ]:
# 10). Create a new dictionary by extracting the following keys from a given dictionary
# Given Dictionary
# sampleDict = {
#     "name": "Kelly",
#     "age": 25,
#     "salary": 8000,
#     "city": "New york"
#
# }
# Keys to extract
# keys = ["name", "salary"]
# Answer = {'name': 'Kelly', 'salary': 8000}

sampleDict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"

}

# use for loop
# add to dictionary

x = ["name", "salary"]


newDict = dict()

for i in sampleDict.keys() and x:     #check similarity between list "x" and simpleDict dictionary keys   
    newDict[i] = sampleDict[i]        ##at the same time get keys from sampleDict and add them to newDict
print(newDict)

{'name': 'Kelly', 'salary': 8000}

In [ ]:
# 11). Given a list iterate it and display numbers which are divisible by 5 and if you find number
# greater than 150 stop the loop iteration
# list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
# Answer =
# 15
# 55
# 75
# 150


list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

for i in list1:
  if i > 150:
    break
  if i % 5 == 0:
    print(i)

15
55
75
150

In [ ]:
# 12). Generate a Python list of all the even numbers between 4 to 30
# Answer = [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

# condition 1
# i % 2 == 0

# condition 2
# 4 to 30 

# method 1 printing numbers as normal
for num in range(4,30,2):
  print(num)


# method 2 printing numbers as a list
list1 = []              #create a empty list

for num in range(4,30):   #define range
    if num % 2 ==0 :      
        list1.append(num)  #add values to end of the "listl"
print(list1)

4
6
8
10
12
14
16
18
20
22
24
26
28
[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
# 13). Count all lower case, upper case, digits, and special symbols from a given string
# input_str = "P@#yn26at^&i5ve"
# Total counts of chars, digits,and symbols
# Chars = 8
# Digits = 3
# Symbol = 4

input_str = "P@#yn26at^&i5ve"
lccount = 0
upcount = 0
digcount = 0
symbol = 0
for x in input_str:
    if x.islower():
        lccount += 1
    elif x.isupper():
        upcount += 1
    elif x.isdigit():
        digcount += 1
    else:
        symbol+= 1

print("lower case count: ", lccount, "upper case count: ", upcount, "digit count: ", digcount, "symbol: ", symbol)

lower case count:  7 upper case count:  1 digit count:  3 symbol:  4

In [ ]:
# 14). Given an input string, count occurrences of all characters within a string
# count("pynativepynvepynative") = {'p': 3, 'y': 3, 'n': 3, 'a': 2, 't': 2, 'i': 2, 'v': 3, 'e': 3}



input_str = "pynativepynvepynative"

newDict = dict()


for i in input_str:
    count = input_str.count(i)
    newDict[i] = count

print(newDict)

{'p': 3, 'y': 3, 'n': 3, 'a': 2, 't': 2, 'i': 2, 'v': 3, 'e': 3}

In [ ]:
# 15). Roll dice in such a way that every time you get the same number
# Dice has 6 numbers (from 1 to 6). Roll dice in such a way that every time you must get the same output number. do
# this 5 times

# number of times = 5

import random

dice = [1,2,3,4,5,6]
for i in range(5):
    random.seed(34)         #this function is used to get same output for each loop iteration
    print(random.choice(dice))

5
5
5
5
5