<a href="https://colab.research.google.com/github/TABEYWICKRAMA/IRWA/blob/main/TF-IDF%20Python%20Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer  #this library will help to find out term frequency

In [2]:
documentA = 'the man went out for a walk'
documentB = 'the children sat around the fire'

#create Bag of words                    spliting happening here
bagofwordsA = documentA.split(' ')
bagofwordsB = documentB.split(' ')
bagofwordsB

['the', 'children', 'sat', 'around', 'the', 'fire']

In [3]:
#To find the unique words

uniquewords = set(bagofwordsA).union(set(bagofwordsB))  #adding these two bags into one bag then find unique words in that bag
uniquewords

{'a',
 'around',
 'children',
 'fire',
 'for',
 'man',
 'out',
 'sat',
 'the',
 'walk',
 'went'}

In [6]:
#next, we will create a directory of words and their occurence for each document in the corpus

numofwordsA = dict.fromkeys(uniquewords, 0)   #initialy frequency of particular word is zero
for word in bagofwordsA:
  numofwordsA[word] += 1

numofwordsB = dict.fromkeys(uniquewords, 0)
for word in bagofwordsB:
  numofwordsB[word] += 1

numofwordsB

{'children': 1,
 'for': 0,
 'went': 0,
 'the': 2,
 'fire': 1,
 'a': 0,
 'walk': 0,
 'man': 0,
 'out': 0,
 'around': 1,
 'sat': 1}

## compute Term Frequency

In [7]:
def computeTF(wordDict,bagofwords):
  import math
  tfDict = {}
  bagofwordscount = len(bagofwords)
  for word, count in wordDict.items():
    tfDict[word] = count
    tfDict[word] = count/ float(bagofwordscount)
  return tfDict

In [8]:
#The following lines compute the term frequency for each our documents

tfA = computeTF(numofwordsA,bagofwordsA)
tfB = computeTF(numofwordsB,bagofwordsB)
tfA

{'children': 0.0,
 'for': 0.14285714285714285,
 'went': 0.14285714285714285,
 'the': 0.14285714285714285,
 'fire': 0.0,
 'a': 0.14285714285714285,
 'walk': 0.14285714285714285,
 'man': 0.14285714285714285,
 'out': 0.14285714285714285,
 'around': 0.0,
 'sat': 0.0}

In [9]:
#The following code implements inverse data(document) frequency in python
# before find inverse document frequency we have to find document frequency

def computeIDF(documents):
  import math
  N = len(documents)

  idfDict = dict.fromkeys(documents[0].keys(),0)
  for document in documents:
    for word, val in document.items():
      if val > 0:
        idfDict[word] += 1
  
  for word, val in idfDict.items():
    idfDict[word] = math.log(N/float(val))
  return idfDict

In [10]:
idfs = computeIDF([numofwordsA, numofwordsB])
idfs

{'children': 0.6931471805599453,
 'for': 0.6931471805599453,
 'went': 0.6931471805599453,
 'the': 0.0,
 'fire': 0.6931471805599453,
 'a': 0.6931471805599453,
 'walk': 0.6931471805599453,
 'man': 0.6931471805599453,
 'out': 0.6931471805599453,
 'around': 0.6931471805599453,
 'sat': 0.6931471805599453}

## Compute TFIDF

In [11]:
def computeTFIDF(tfbagofwords,idfs):
  tfidf = {}
  for word, val in tfbagofwords.items():
    tfidf[word] = val*idfs[word]
  return tfidf

In [12]:
tfidfA = computeTFIDF(tfA, idfs)
tfidfB = computeTFIDF(tfB, idfs)
df = pd.DataFrame([tfidfA,tfidfB])
df

,children,for,went,the,fire,a,walk,man,out,around,sat
0,0.000000,0.099021,0.099021,0.0,0.000000,0.099021,0.099021,0.099021,0.099021,0.000000,0.000000
1,0.115525,0.000000,0.000000,0.0,0.115525,0.000000,0.000000,0.000000,0.000000,0.115525,0.115525